section#customer-page{
justify-content: center;
align-items: center;
text-align: center;
overflow-x: hidden; 
background-color: var(--subColor2);
}

.maincontent{
    background-color: var(--subColor);
    overflow-y: hidden;
}

button{
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: var(--mainColor);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
  }
  
/* SlideShow */


.mySlides img{
    width: 100%;
}
.slideshow-container  {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 60vw;
    height: 41vh;
    margin: auto;
}

.mySlides img{
    width: 39.5vw; 
    max-height: 39.5vh;
    margin-right: 0.5vw;
}

.sub_slides img{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 19.5vh;
    margin-bottom: 0.5vh;
}



.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
from {opacity: .2}
to {opacity: 1}
}


/* Section classes */
.sectionMargin{
    margin-top: 15px;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    background-color:  var(--mainColor);
}

.sectionHeader{
    display: flex;
    margin: 0.5%;
    text-align: left;
    
}

/* Item Box Shadow */
.Item_box{
    box-shadow: 2px 2px 2px 2px rgba(50, 50, 93, 0.25);
    z-index: 0;
}

.Item_box:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    z-index: 1;
}

/* Category */
.category_Section h1{
    text-align: left;
}
.categoryContainer{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.category_Item_box{
    background-color: var(--subColor2);
    width: 12.5%;
    height: 100px;
}



.categoryItem a,
.categoryItem img{
    width: 80px;
    height: 5%;
    text-decoration: none;
}

/* Flash Sales */

.flashSale_Container{
    display: flex;
    overflow: hidden;
}
.flashTimer{
    display:flex;
}
.flashSale_Header{
    display: flex;
    justify-content: space-between;
}

.flashSale_Item_Box{
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--subColor);
    width: 20%;
    height: 200px;
    margin: 0.5%;
}

.flashSale_item{
    width: 100%;
}

.flashSale_item a,
.flashSale_item img{
    width: 100%;
    height: 120px;
    text-decoration: none;
}
.flashSale_item p{
    text-align: left;
    font-size: 12px;
}
.flashSale_item #salesBanner{
    text-align: center;
    background-color: bisque;
}

.flashSale_item #OG_Price{
    text-decoration: line-through;
}


.flashSale_item #Dis_Price{
    color: red;
}

/* Banner section */
.banner_Container{
    display: flex;
}
.banner_Container img{
    width: 100%;
    height: 100px;
}

/* Mall section */
.mall_Container{
    display: flex;
}
.mall_Item_Box{
    width: 15%;
    margin: 1%;
    border-radius: 15px ;
    background-color: antiquewhite;
}

.mall_Item img,
.mall_Item a{
    width: 100%;
    text-decoration: none;
    border-top-left-radius:  15px;
    border-top-right-radius:  15px;
}

.mall_Item a:hover p{
    color: red;
}

.mall_Header{
    display: flex;
    justify-content: space-between;
}

/* Just For You */
.JFY_Container{
    display: flex;
    flex-wrap: wrap;
}

.JFY_Item_Box{
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--subColor);
    width: 19%;
    height: 220px;
    margin: 0.5%;
}

.JFY_item{
    width: 100%;
}

.JFY_item a,
.JFY_item img{
    width: 100%;
    height: 120px;
    text-decoration: none;
}
.JFY_item #OG_Price{
    text-decoration:line-through;
}
.JFY_item #Dis_Price{
    color: red;
}
.JFY_item p{
    font-size: 10px;
    text-align: left;
}

/* Product Filer */
.productFilterSection{
    background-color: var(--mainColor);
    width: 60vw;
    margin: auto;
}



@media(max-width:850px) {
    .sectionMargin{
        margin-top: 15px;
        width: 100vw;
    }
    .slideshow-container  {
        width: 100vw;
        height: 35vh;
    }
    .mySlides img {
        width: 100vw;
        height: 100%;
    }
    .sub_slides img{
        display: none;
    }
    .numbertext {
        display: none;
    }
    .banner_Container img {
        width: 33.33%;
    }
    
}

@media(max-width:500px) {
    .sectionMargin{
        margin-top: 15px;
        width: 100vw;
    }
    .slideshow-container  {
        width: 100vw;
        height: 35vh;
    }
    .mySlides img {
        width: 100vw;
        height: 100%;
    }
    .sub_slides img{
        display: none;
    }
    .numbertext {
        display: none;
    }
    .mall_Container{
        overflow: hidden;
    }
    .banner_Container{
        overflow: hidden;
    }
    .banner_Container img {
        width: 50%;
    }
    .categoryItem a, .categoryItem img {
        width: 10vw;
    }

}